<div ng-init="getPatients()">
    <div class="container-fluid" style="margin-top: 100px">
        <div ng-show="showMessage" class="alert alert-success alert-dismissible">
            Message Sent!
        </div>

        <div class="col-sm-3">
        </div>
        <div class="col-sm-6" ng-init="getMessages()">
            <div class="form-group">
                <label for="patientName" style="color: aliceblue;font-size: 24px"translate="PATIENT_NAME"></label>
                <select class="form-control" name="patientName" id="patientName" ng-model="patientName" ng-options="x for x in patientNames" tabindex="0">
                </select>
            </div>
            <div class="form-group">
                <label for="serviceDesc" style="color: aliceblue"translate="MESSAGES"></label>
                <textarea rows="4" cols="50" class="form-control" id="serviceDesc" placeholder="Chat Message" ng-model="message">
                        </textarea>
            </div>

            <center><button type="submit" class="btn btn-primary" style="background-color: #2b3643;border-color: aliceblue;width: 150px" ng-click="sendMessage()"translate="SEND_MESSAGES"></button></center>
            <div><h3 style="font:PLAYFAIR DISPLAY;color: aliceblu"translate="YOUR_MESSAGES"></h3></div>
            <div ng-repeat="message in messages" style="color: #777;background-color: #f5f5f5">
                <div style="padding: 5px"><strong style="color:#222;">{{message.from}}:</strong></div>
                <div style="padding: 5px"><p>{{message.message}}</p></div>
            </div>
        </div>
    </div>


</div>