<!-- BEGIN HEADER -->
<body style="width:100%;">
<div class="page-header navbar navbar-fixed-top" style="background-color: #364150">
    <!-- BEGIN HEADER INNER -->
    <center>
    <div class="row">
        <!-- BEGIN LOGO -->
<div >
    <div  style="margin-left: 50px">
        <a ui-sref="app" style="color: aliceblue;font-size: 24px;float: left;margin-left: 20px;margin-top:20px;font-family: bold"><i>
                e-Health </i></a>

    </div>


</div>
        <div>
            <ul class="nav navbar-nav" style="width:93%; margin-top: -33px;">


               <li class="dropdown dropdown-user" style="float:right;">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="http://keenthemes.com/preview/metronic/theme/assets/layouts/layout/img/avatar3_small.jpg" />
                         <b style="font-family: bold;font-size: 24px;color: aliceblue">Login</b>
                        <i class=""> </i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a ui-sref="app.loginpage">
                                <i class=""></i> <b>Login as Patient</b> </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a ui-sref="app.loginDoctor">
                                <i class=""></i> <b> Login as Doctor</b> </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a ui-sref="app.signup">
                                <i class=""></i> <b> Register as Patient</b>
                            </a>
                        </li>

                        <li class="divider"> </li>
                        <li>
                            <a ui-sref="app.signupDoctor">
                                <i class=""></i> <b> Register as Doctor</b> </a>
                        </li>


                    </ul>
                </li>

            </ul>

        </div>


                <!-- END LOGO -->

        <!-- BEGIN TOP NAVIGATION MENU -->


        <!-- END TOP NAVIGATION MENU -->
        </div></center>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
